CompileFlags:
  Add:
    - -std=c99
    - -m32
    - -DREBUILD_PC
    - -DCTR_NATIVE
    - -DREBUILD_PS1
    - -DUSE_EXTENDED_PRIM_POINTERS=0
    - -DUSE_PCDRV
    - -DUSE_MOREPRIM
    - -Iinclude
    - -Iexternals/PsyCross/include
    - -Iexternals/PsyCross
    - -Iexternals/SDL/include
    - -Iexternals/openal-soft/include
